:root {
    --background: #06111e;
    --primary: #d84f8d;
    --secondary: #102237;
    --accent: #2d24d6;
    --text: #ffffff;
}

/* ===Fonts===
    https://www.fontspace.com/category/pokemon
*/
@font-face {
    font-family: 'Pokemon';
    src: url(../fonts/PokemonSolidNormal-xyWR.ttf);
}
@font-face {
    font-family: 'Pokemon-Gb';
    src: url(../fonts/PokemonGb-RAeo.ttf);
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Pokemon-Gb', Arial, Helvetica, sans-serif;
}

button {
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;

    font-family: 'Pokemon-Gb', Arial, Helvetica, sans-serif;
    color:var(--text);
}

button:active {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.page-title {
    font-family: 'Pokemon', Arial, Helvetica, sans-serif;
}

.page-header-items {
    display: flex;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    gap: 5px;
    justify-content: center;
    list-style-type: none;
}

.content-header {
    display: flex;
    justify-content: center;
}

.content-video {
    display:flex;
    justify-content: center;
}

.home-information {
    margin: 50px;
}

.signup-newsletter {
    display:grid;
    justify-content: center;
    justify-items: center;
}

.pokedex-cards {
    display:grid;
    grid-template-columns: 250px 250px 250px 250px 250px 250px;
    gap:20px;
    justify-content: center;
}

.pokedex-card {
    text-align: center;
    background-color: var(--secondary);
    border-radius: 5px;
    cursor: pointer;
}

.pokedex-card img {
    width: 250px;
}

.review-add {
    display:grid;
    justify-content: center;
    text-align: center;
}

.add-review-content {
    width: 100%;
}

.add-review-button {
    padding: 10px;
    margin: 10px;
    width: 150px;
}

.review-cards {
    display: grid;
    grid-template-columns: 40%;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
}

.review-card {
    padding: 10px;
    margin: 10px;
    background-color: var(--secondary);
    border-radius: 5px;
}

.rating-date {
    display: grid;
    grid-template-columns: 10% 10%;
    font-size: 15px;
}

.about-me-info {
    display:grid;
    justify-content: center;
    grid-template-columns: 50%;
}

@media all and (max-width: 800px) {
    .page-header-items {
        display: grid;
        grid-template-columns: 30% 70%;
    }
    
    button {
        padding: 5px;
        margin: 5px;
        font-size: 6px;
        text-align: center;
    }    

    .pokedex-cards {
        display:grid;
        grid-template-columns: 50px 50px 50px 50px 50px 50px;
        gap:20px;
        justify-content: center;
    }   
    
    .pokedex-card {
        width: 100%;
        height: 70px;
        text-align: center;
        background-color: var(--secondary);
        border-radius: 5px;
    }

    .pokedex-card img {
        width: 50px;
    }

    .pokedex-card h4 {
        font-size: 6px;
    }

    .add-review-button {
        padding: 10px;
        margin: 10px;
        width: 150px;
    }
    
    .review-cards {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        gap: 10px;
        font-size: 15px;
    }
    
    .rating-date {
        display: grid;
        grid-template-columns: 10% 10%;
        font-size: 8px;
    }

    .review-card h4 {
        font-size: 8px;
    }
}